.h1 
{
    text-align: center;
    color:#000000;
    font-size : normal;
    font-family: Times New Roman;
    font-weight:normal;
    }
    .i1{
    position:absolute;
    top: 90px;
    display: inline-block;
    border:3px solid #85A0C9;
    border-radius: 30px;
    } 
 .i2{
    position:absolute;
    top: 120px;
font-weight: 600;
    } 
    .b1{
        background: #ffffff;
        left: 300px;        
        top: 10px;
        position: relative;
        display: inline-block;
        border-radius: 30px;
        
        }
 .b11{
        background: #ffffff;
        left: -50px;
top: 30px;
        position: relative;
        display: inline-block;
        border-radius: 30px;
        }
.b12{
top: 140px;
left: -40px;
        position: relative;
}
.t3 {
left: -30px;
top: 40px;
        position: relative;
}
.b2{
    background: #7FFF00;
    top: 60px;
    position:absolute;
    display: inline-block;
    border:3px solid #85A0C9;
    border-radius: 30px;
    }
.b3{
    position:absolute;
    top: 60px;    
    display: inline-block;
    border:3px solid green;
    border-radius: 30px;
    } 
.b4{
    position:absolute;
    top: 90px;
    left: 550px;
    display: inline-block;
    border:3px solid #85A0C9;
    border-radius: 30px;
    } 
    
.b5{
    position:absolute;
    top: 60px;
    left:100px;
    display: inline-block;
    border:3px solid #85A0C9;
    border-radius: 30px;
    }
.b6{
    position:absolute;
    top: 60px;
    left:200px;
    display: inline-block;
    border:3px solid #85A0C9;
    border-radius: 30px;
    }
.b7{
    position:absolute;
    top: 60px;
    left:300px;
    display: inline-block;
    border:3px solid #85A0C9;
    border-radius: 30px;
    } 
.b8{
    position:relative;
    top: 45px;
height: 80px;
width: 100px;
background: url('Send.gif');
    } 
.b9{
    position:absolute;
    top: 60px;
    left:400px;
    } 
body{
    background:#FFFFE0;
    }
    button{
        color:#000000;
        font-size : normal;
        font-family:Arial;
        font-weight:600;
        }
    
    .t2 {
position:relative;
top: 50px;
        overflow-y: scroll;
        outline: none;
        border: 1px solid #999; 
} 
.t1 {
position:relative;
top: 50px;
        outline: none;
        border: 1px solid #999; 
}